<footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img src="https://pbs.twimg.com/media/GSBD5B1WgAAEUco?format=png&name=900x900" style="width: 160px; margin-top: 40px;">
       
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">© 2024 Tayde Rivera & Gerardo Osorio —
       
      </p>
      <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
        <a class="text-gray-500">
         
        </a>
        <a class="ml-3 text-gray-500">
          
        </a>
        <a class="ml-3 text-gray-500">
          
        </a>
        <a class="ml-3 text-gray-500">
         
        </a>
      </span>
    </div>
  </footer>